{% extends 'base.html' %}
{% load static %}
{% block content %}
<h1><b>CUSTOMER LIST</b></h1>
<div class="container">
    <div class = "text-left">
        <h2 class="section-heading text-uppercase">Edit Personal Information</h2>
    </div>
    <br>
    <!--<form name="form" method="post" action="{% url 'editUser' %}">
        {% csrf_token %}
        <input type="hidden" id="cust_id" name="cust_id" value="{{record.id}}">

        <label for='email'>Email:</label>
        <input type="text" name="email" id="email" value="{{record.email}}" autofocus>
        <br><br>

        <label for='password'>Password:</label>
        <input type="text" name="password" id="password" value="{{record.password}}">
        <br><br>

        <label for='first-name'>First name:</label>
        <input type="text" name="first_name" id="first_name" value="{{record.first_name}}">
        <br><br>

        <label for='last-name'>Last name:</label>
        <input type="text" name="last_name" id="last_name" value="{{record.last_name}}">
        
        <label for='gender'>Gender:</label>
        <input type="text" name="gender" id="gender" value="{{record.gender}}">
        <br><br>

        <label for='height-inches'>Height(inches):</label>
        <input type="text" name="height_inches" id="height_inches" value="{{record.height_inches}}">
        <br><br>

        <label for='weight'>Weight:</label>
        <input type="text" name="weight" id="weight" value="{{record.weight}}">
        <br><br>

        <label for='age'>Age:</label>
        <input type="text" name="age" id="age" value="{{record.age}}">
        <br><br>

        <label for='stage'>Stage:</label>
        <input type="text" name="stage" id="stage" value="{{record.stage}}">
        <br><br>

        <label for='comorbidity-type'>Comorbidity Type:</label>
        <input type="text" name="comorbidity_type" id="comorbidity_type" value="{{record.comorbidity_type}}">
        <br><br>

        <button type="submit">Update</button>
    </form>
{% endblock %}