{% extends 'base.html' %}
{% load static %}
{% block content %}


<div class='py-4 mt-auto'>
    <div class='container-fluid px-4'>
        <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">{{ user.first_name }}'s Food Journal</h1>
        </div>
        {% if messages %}
            {% for message in messages %} 
                <div class="alert alert-warning alert-dismissible fade show" role="alert">
                        {{ message }}
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                </div>
            {% endfor %} 
        {% endif %}
        <div class='row justify-content-center'>
            <div class='col-xl-12'>
                
                    <div class='row'>
                        <div class='col-md-6 mt-4'>

                            <div class='card shadow mb-4'>
                                <div class='card-header py-3'>
                                    <h6 class="m-0 font-weight-bold text-primary">Enter a food to add to the Food Log</h6>
                                </div>
                                <div class='card-body'>

                                    <!-- <div class='form-group'>
                                        <form method='POST'>
                                            {% csrf_token %}
                                            <div class='form-group'>
                                                <div class='row'>
                                                    <div class='col-4'>
                                                        <label for='food' class='form-label mt-2'>
                                                            Food
                                                        </label>
                                                        <input class='form-control' type='text' name='food' id='food'>
                                                        <button type='submit' class='btn btn-primary'>
                                                            Add Food
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </div> -->

                                    <div class='form-group'>
                                        <form method='POST'>
                                            {% csrf_token %}
                                            <div class='form-group'>
                                                <div class='row'>
                                                    <div class='col-8'>
                                                        <input class='form-select form-control form-control-user' name='food' id='food'> <!-- for some reason this is causing issues in the backend:    style="text-transform:lowercase;"-->
                                                    </div>
                                                    <div class='col-4'>
                                                        <button type='submit' class='btn btn-primary'>
                                                            Add Food
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>

                                </div>
                            </div>
                        <!-- <script>
                            $(document).ready(function()
                            {
                                var sodium;
                                var totalsodium=0;
                                $('td:nth-child(7)').each(function()
                                {
                                    sodium=$(this).html();
                                    totalsodium+=parseInt(sodium);
                                    $('#totalsodium').text(totalsodium);
                                });
                            });
                        </script> -->

                            <div class="card shadow mb-4">

                                <div class='card-header py-3'>
                                    <h5>Food consumed today</h5>
                                    <h5><strong class='text-primary'>{% now 'D, jS F Y' %}</strong></h5>
                                </div>
                                <div class='card-body'>

                                    <table id='foodtable' class='table table-hover'>
                                        <thead>
                                            <tr>
                                                <th scope='col' class='col-md-2'>Food Item</th>
                                                <th scope='col' class='col-md-2'>Calories</th>
                                                <th scope='col' class='col-md-2'hidden>Fat (g) in 100g</th>
                                                <th scope='col' class='col-md-2'hidden>Carbs (g) in 100g</th>
                                                <th scope='col' class='col-md-2'>Protein (g) in 100g</th>
                                                <!-- <th scope='col' class='col-md-2'>Calcium</th> -->
                                                <th scope='col' class='col-md-2'>Potassium</th>
                                                <!-- <th scope='col' class='col-md-2'>Phosphorus</th> -->
                                                <th scope='col' class='col-md-2'>Sodium </th>
                                                <th scope='col' class='col-md-2'></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                         {% for food_item in user_food_log %}
                                            <tr>
                                                <td class='col-md-2'>{{ food_item.food_consumed.foodName }}</td>
                                                <td class='col-md-2'>{{ food_item.food_consumed.calories }}</td>
                                                <td class='col-md-2' hidden>{{ food_item.food_consumed.fatTotal }}</td>
                                                <td class='col-md-2' hidden>{{ food_item.food_consumed.carbohydrates }}</td> 
                                                <td class='col-md-2'>{{ food_item.food_consumed.protein }}</td>
                                                <!-- <td class='col-md-2'>{{ food_item.food_consumed.calcium }}</td> -->
                                                <td class='col-md-2'>{{ food_item.food_consumed.potassium }}</td>
                                                <!-- <td class='col-md-2'>{{ food_item.food_consumed.phosphorus }}</td> -->
                                                <td class='col-md-2'>{{ food_item.food_consumed.sodium }}</td>
                                                <td>
                                                    <a class='btn btn-danger' href="{% url 'food_log_delete' food_item.id %}">
                                                        <i>Delete</i>
                                                    </a>                                                
                                                </td>
                                            </tr>
                                        {% endfor %}
                                            <tr>
                                                <td id='foodName' class='col-md-2'><b>Total</b></td>
                                                <td id='totalCalories' class='col-md-2'><b></b></td>
                                                <td id='totalFat' class='col-md-2' hidden><b></b></td>
                                                <td id='totalCarbohydrates' class='col-md-2' hidden><b></b></td>
                                                <td id='totalProtein' class='col-md-2'><b></b></td>
                                                <td id='totalPotassium' class='col-md-2'><b></b></td>
                                                <td id='totalSodium' class='col-md-2'><b></b></td>

                                            </tr>
                                        </tbody>
                                    </table>
                                    
                                </div>
                            </div>
                            
                        </div>
                        
                        <div class='col-md-6 mt-4'>

                            <div class='card shadow mb-4'>
                                <div class='card-header py-3'>
                                    <h5>Daily Calorie Goal - <strong class='text-primary' id="calGoal" value="2000">{{calorieGoalTotal}} Calories</strong></h5>
                                </div>
                                <div class='card-body justify-content-center'>

                                    <div class='progress' style="height: 40px;">
                                        <div 
                                            id='progressBar'
                                            class='progress-bar progress-bar-striped progress-bar-animated' 
                                            role='progressbar' 
                                            aria-valuenow='0' 
                                            aria-valuemin='0' 
                                            aria-valuemax='100' 
                                            style='width: 50%; font-size: 25px;'
                                        >50%</div>
                                    </div>

                                </div>
                            </div>

                            <div class='card shadow mb-4"'>
                                <div class='card-header'>
                                    <h5>Macronutrients Breakdown</h5>
                                </div>
                                <div class='card-body justify-content-center'>
                                    <div class='chart-pie pt-4'>
                                        <canvas id='myPieChart2'></canvas>
                                    </div>
                                </div>
                            </div>
                            <br>
                            <div class='card shadow mb-4"'>
                                <div class='card-header'>
                                    <h5>Micronutrients Breakdown - Percent of Consumption Limit</h5>
                                </div>
                                <div class='card-body justify-content-center'>                                    
                                        <div class="card-body">
                                            <h4 class="small font-weight-bold">Calcium <span
                                                    class="float-right">{{ calciumPercent }}%</span></h4>
                                            <div class="progress mb-4">
                                                <div class="bg-danger" role="progressbar" style="width: {{ calciumPercent }}%"
                                                    aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">
                                                </div>
                                            </div>
                                            <h4 class="small font-weight-bold">Potassium <span
                                                    class="float-right">{{ potassiumPercent }}%</span></h4>
                                            <div class="progress mb-4">
                                                <div class="bg-warning" role="progressbar" style="width: {{ potassiumPercent }}%"
                                                    aria-valuenow="40" aria-valuemin="0" aria-valuemax="100">
                                                </div>
                                            </div>
                                            <h4 class="small font-weight-bold">Phosphorus <span
                                                    class="float-right">{{ phosphorusPercent }}%</span></h4>
                                            <div class="progress mb-4">
                                                <div class="bg-primary" role="progressbar" style="width: {{phosphorusPercent}}%"
                                                    aria-valuenow="60" aria-valuemin="0" aria-valuemax="100">
                                                </div>
                                            </div>
                                            <h4 class="small font-weight-bold">Sodium <span
                                                    class="float-right">{{ sodiumPercent }}%</span></h4>
                                            <div class="progress mb-4">
                                                <div class="bg-info" role="progressbar" style="width: {{ sodiumPercent }}%"
                                                    aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">
                                                </div>
                                            </div>
                                            <!-- <h4 class="small font-weight-bold">Sugar <span
                                                    class="float-right">{{ sugarGoal }}</span></h4>
                                            <div class="progress">
                                                <div class="progress-bar bg-success" role="progressbar" style="width: {{ sugarGoalNum }}%"
                                                    aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">
                                                </div>
                                            </div>  -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                    </div>
            </div>
        </div>

    </div>
</div>    

<!-- Page level plugins -->    
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

<!-- Page level custom scripts -->
<script src="{% static 'js/foodLog.js' %}"></script>

{% endblock %}