{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Kidney - Register</title>

    <!-- Custom fonts for this template-->
    <link href="{% static 'vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">

    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="{% static 'css/sb-admin-2.css' %}" rel="stylesheet">
    <link href="{% static 'css/sb-admin-2.min.css' %}" rel="stylesheet">

</head>

<body class="bg-gradient-primary">

    <div class="container">

        <div class="card o-hidden border-0 shadow-lg my-5">
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <center><h1 class="m-0 font-weight-bold text-primary">WELCOME TO KIDNEY 2!</h1></center>
                </div>
                <div class="card-body">
                    <h2>Our Mission</h2>
                    <p class="mb-0">We are there for people suffering from Chronic Kidney Disease when a doctor can't be. We seek to provide access to neccessary dietary tools help prevent worsening CKD symptoms and live a healthier lifestyle. </p>
                    <center><img width=400px src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQH5eXOAgH20vlOYQZe1lTJn8CWFpcTCIN1Ng&usqp=CAU {% static '/img/kidneyimage1.jpeg' %}" alt="Kidney Image"></center><br>
                    <p class="mb-0">Kidney is designed to be your personal dietary coach. It can help you know exactly what to include in your diet to stay healthy and prevent worsening CKD symptoms. We designed an interface that is personal to YOU.
                        It considers your condition, gender, and weight to provide the most accurate suggestions for your diet.
                        Simply create an account and input some information to get Started! 
                    </p><br><br>
                    <h2>Chronic Kidney Disease (CKD) - 'The Silent Killer'</h2><br>
                    <h1>33%</h1><p>of the population is high risk for kidney disease</p><br>
                    <h1>90%</h1><p>of kidney function can be lost before symptoms appear</p><br>
                    <h1>50%</h1><p>might be able to prevent ESRD through diet and lifestyle changes</p><br>
                    <h5>Please Create an Account <u>BELOW</u> to Get Started!</h5>
                </div>
            </div>
            <div class="card-body p-0">
                <!-- Nested Row within Card Body -->
                <div class="row" style="justify-content: center">
                    <div class="col-lg-7">
                        <div class="p-5">
                            <div class="text-center">
                                <h1 class="h4 text-gray-900 mb-4">Create an Account!</h1>
                            </div>
                            
                            {% if form.errors %}
                            <p>There was an error with your form.</p>
                            {% endif %}
                               
                            <form class="user" action="" method='POST'>
                                {% csrf_token %}

                                {{ form }}
                                <br><br>

                                <br><br>
                                <button type="submit" class="btn btn-primary btn-user btn-block"> Move Onto Step 2 </button>
                            </form>
                    
                            <div class="text-center">
                                <a class="small" href="{% url 'login' %}">Already have an account? Login!</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    </div>

    <!-- Bootstrap core JavaScript-->
    <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

    <!-- Core plugin JavaScript-->
    <script src="{% static 'vendor/jquery-easing/jquery.easing.min.js' %}"></script>

    <!-- Custom scripts for all pages-->
    <script src="{% static 'js/sb-admin-2.min.js' %}"></script>

</body>

</html>